:root {
  --backgr-color: #2e2f42;
  --main-text-color: #434455;
  --secont-text-color: #ffffff;
  --header-link-color: #404bbf;
  --logo-color: #4d5ae5;
  --btn-background-color: #f4f4fd;
  --link-icon-color: #8e8f99;
  --hover-focus-social: #31d0aa;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
}

.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--backgr-color);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  margin-top: 0;
}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 15px;
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  outline: 2px solid red;
}

.header {
  border-bottom: 1px solid #e7e9fc;
  padding: 24px 0;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
  margin-right: 76px;
}

.header-logo-span {
  color: var(--backgr-color);
}

.header-menu {
  display: flex;
  gap: 40px;
  margin-right: 332px;
}

.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  color: var(--header-link-color);
}

.header-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: var(--header-link-color);
  border-radius: 2px;
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: var(--header-link-color);
}

.header-address-link:hover,
.header-address-link:focus {
  color: var(--header-link-color);
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 0;
}

.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* //////////HERO/////////////// */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--secont-text-color);
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.hero-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secont-text-color);
  cursor: pointer;
  background: var(--logo-color);
  border-radius: 4px;
  border: none;
  min-width: 169px;
  height: 56px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--header-link-color);
}

/* //////////////ADVANTAGES/////////////// */

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

.advantages-container {
  display: flex;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-list-item {
  width: calc((100% - 3 * 24px) / 4);
}

.advantages-list-title {
  margin-bottom: 8px;
}

.advantages-iconbox {
  display: flex;
  height: 112px;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  background-color: var(--btn-background-color);
  border-radius: 4px;
}

/* /////////////DEVs///////////////// */

.dev {
  padding-bottom: 120px;
}

.dev-title {
  margin-bottom: 72px;
}

.dev-list {
  display: flex;
  gap: 24px;
}

.dev-list-item {
  width: calc((100% - 2 * 24px) / 3);
}

/* //////////////TEAM////////// */

.team-list {
  display: flex;
  gap: 24px;
}

.team-title {
  margin-bottom: 72px;
}

.team {
  background-color: var(--btn-background-color);
  padding: 120px 0;
}
.team-list-item {
  background-color: var(--secont-text-color);
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-wrap {
  padding: 32px 0;
  gap: 8px;
  align-items: center;
}

.team-list-name {
  text-align: center;
  margin-bottom: 8px;
}

.team-list-pos {
  text-align: center;
  margin-bottom: 8px;
}

.teamicons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.teamicons-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.teamicons-a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--logo-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.teamicons-a:hover,
.teamicons-a:focus {
  background-color: var(--header-link-color);
}

.teamicons-icon {
  fill: var(--btn-background-color);
}

/* ///////////////CLIENTS/////////////// */

.clients {
  padding-top: 120px;
  padding-bottom: 120px;
  max-width: 1128px;
  margin: 0 auto;
}

.clients-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--backgr-color);
  margin-bottom: 72px;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.clients-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.clients-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--link-icon-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--link-icon-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--header-link-color);
  border-color: var(--header-link-color);
}

.clients-icon {
  fill: currentColor;
}

/* ////////////FOOTER///////////////// */

.footer {
  background-color: var(--backgr-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}

.footer-link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secont-text-color);
  margin-bottom: 16px;
}

.footer-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-link {
  width: 100%;
  height: 100%;
  background-color: var(--logo-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--hover-focus-social);
}
.footer-icon {
  fill: var(--btn-background-color);
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-color);
}

.flogo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--btn-background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-background-color);
  max-width: 264px;
}

.footer-subscribe {
  margin-left: 80px;
}

.subscribe-text {
  margin-bottom: 16px;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02px;
color: var(--secont-text-color);
}

.footer-input {
  margin-right: 24px;
  border-radius: 4px;
  border: 1px solid var(--secont-text-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
background-color: transparent;
height: 40px;
padding-left: 16px;
color: var(--secont-text-color);
}
.footer-input::placeholder {
  font-size: 12px;
line-height: 24px;
letter-spacing: 0.48px;
color: var(--secont-text-color);
}
.footer-input:focus {
  border-color: var(--logo-color);
}

.footer-btn {
  border-radius: 4px;
background: var(--logo-color);
color: var(--secont-text-color);
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.64px;
height: 40px;
padding: 8px 24px;
}
.icon-telegram {
  margin-left: 16px;
  fill: var(--secont-text-color);
}

/* /////////////PAGE 2/////////////////////// */
/* ////////////PROPOSITIONS//////////////////// */

.our-propositions {
  padding-top: 96px;
  padding-bottom: 120px;
}

.propositions-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.propositions-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  color: var(--logo-color);
  background-color: var(--btn-background-color);
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.propositions-btn:hover,
.propositions-btn:focus {
  color: var(--secont-text-color);
  background-color: var(--header-link-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--backgr-color);
  margin-bottom: 8px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}
.portfolio-settings {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

.portfolio-link:hover .portfolio-hover-text, 
.portfolio-link:focus .portfolio-hover-text {
transform: translateY(0%); 
}

.portfolio-hover {
  position: relative;
  overflow: hidden;
}

.portfolio-hover-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--btn-background-color);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--logo-color);
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
width: 408px;
min-height: 584px;
background: #fcfcfc;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
 transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
padding: 0;
cursor: pointer;
width: 24px;
height: 24px;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--header-link-color);
  border: none;
  fill: var(--secont-text-color);
}
.modal-icon{
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}